{{include('admin/header.html')}}
<div class="card-header"><i class="fas fa-table mx-2"></i>Usuários</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuário</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Admin</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Usuário</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Admin</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
            <tbody>
                {% for usuario in usuarios%}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.usuario}}</td>
                    <td>{{usuario.nome|title}}</td>
                    <td>{{usuario.sobrenome|title}}</td>
                    <td class="text-center">
                        {% if usuario.admin == true %}<i class="fas fa-check-circle text-primary"></i> {% else %} <i class="fas fa-times-circle text-danger"></i> {% endif %}
                    </td>
                    <td>
                        <a href="/admin/usuarios/editar/{{usuario.id}}" class="btn btn-primary"><i class="fas fa-edit mx-4"></i></a>
                        <button class="btn btn-danger" onclick="deletar({{ usuario.id }}, '{{ usuario.nome }}')"><i class="fas fa-trash-alt mx-4"></i></button>
                    </td>
                </tr>
                {% else %} Não foram encontradas usuarios {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    opts = {
        "columnDefs": [{
            "width": "5%",
            "targets": 0
        }, {
            "width": "auto",
            "targets": 1
        }, {
            "width": "auto",
            "targets": 2
        }, {
            "width": "auto",
            "targets": 3
        }, {
            "width": "5%",
            "targets": 4
        }, {
            "width": "17%",
            "targets": 5
        }]
    };

    function deletar(id, nome) {
        let texto = `Tem certeza que deseja deletar a usuario ${nome}?` +
            "\nIsto deletará todos os produtos desta usuario.";
        if (confirm(texto)) {
            let url = `/admin/usuarios/deletar/${id}`;
            fetch(url, {
                method: "post"
            }).then((resposta) => {
                location.reload();
            }).catch((e) => {
                alert(e);
            });
        }
    }
</script>
{{include('admin/footer.html')}}