{{ include('header.html') }}
<div class="row">
    <div class="col-sm-9 col-md-5 col-lg-3 mx-auto">
        <div class="card my-5">
            <div class="card-header">
                <h5 class="text-center">Cadastro</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="input-group my-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="usuario"><i class="fas fa-user"></i></label>
                        </div>
                        <input class="form-control" name="usuario" id="usuario" type="text" placeholder="Usuário" />
                    </div>
                    <div class="input-group my-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="senha"><i class="fas fa-lock"></i></label>
                        </div>
                        <input class="form-control" name="senha" id="senha" type="password" placeholder="Senha" />
                    </div>
                    <div class="input-group my-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="nome"><i class="fas fa-male mx-1"></i></label>
                        </div>
                        <input class="form-control" name="nome" id="nome" type="text" placeholder="Nome" />
                    </div>
                    <div class="input-group my-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sobrenome"><i class="fas fa-male mx-1"></i></label>
                        </div>
                        <input class="form-control" name="sobrenome" id="sobrenome" type="text" placeholder="Sobrenome" />
                    </div>
                    <div class="form-group">
                        <div class="input-group my-1">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cep"><i class="fas fa-map-marker-alt"></i></label>
                            </div>
                            <input class="form-control" name="cep" id="cep" type="number" aria-describedby="ajudaCep" min="09999999" max="99999999" />
                        </div>
                        <small id="ajudaCep" class="form-text text-muted">Somente os números!</small>
                    </div>

                    <div class="input-group my-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="residencia"><i class="fas fa-hashtag"></i></label>
                        </div>
                        <input class="form-control" name="residencia" id="residencia" type="number" placeholder="Número da Residência" />
                    </div>
                    <div class="input-group my-1">
                        <!-- <input class="btn btn-primary px-5" type="submit" value="Logar"> -->
                        <button type="submit" class="btn btn-primary my-1"><i class="fas fa-user-edit mx-4"></i></button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/login">Já possui uma conta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}