{{ include('header.html') }}
<!-- Page Content -->
<div class="row justify-content-center">
    <div class="col-lg-6">
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="my-3">
                    {{produto.nome|title}}
                </h3>
            </div>
            <div class="col-md-8 text-center">
                <img class="img-fluid" style="max-height: 400px;" src="{{produto.link_foto}}" alt="foto do produto">
            </div>
            <div class="col-md-4 border rounded px-2">
                <p>{{produto.descricao}}</p>
                <hr>
                <h3 class="my-3">R$ {{produto.preco|number_format(2, ',', '.')}}
                </h3>
                <hr>
                <h3 class="my-3">Comprar</h3>
                <form>
                    <div class="row form-group">
                        <div class="input-group col-sm-7 my-1">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qtd">Qtd</label>
                            </div>
                            <input class="form-control" name="qtd" id="qtd" type="number" value="1" min="1" />
                        </div>
                        <input type="text" hidden name="produto" value="{{produto.id}}">
                        <!-- <input type="submit" value="Comprar" class="btn btn-success col-sm-4 my-1 mx-1"> -->
                        <button type="submit" class="btn btn-success"><i class="fas fa-shopping-cart mx-4"></i></button>
                    </div>
                </form>
                <!-- <hr>
                <h5 class="my-3">Calcular Frete</h5>
                <form>
                    <div class="row form-group">
                        <div class="input-group input-group-sm col-sm-8 my-1">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cep">CEP</label>
                            </div>
                            <input class="form-control" name="cep" id="cep" type="number" value="1" min="1" />
                        </div>
                        <button onclick="calcularFrete()" class="btn btn-success btn-sm"><i class="fas fa-search mx-3"></i></button>
                    </div>
                </form> -->
            </div>
        </div>
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                Avaliações
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Anônimo em 12/06/2020</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Anônimo em 12/06/2020</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Anônimo em 12/06/2020</small>
                <hr>
                <a href="#" class="btn btn-success">Avalie este produto!</a>
            </div>
        </div>
    </div>
</div>
</div>
{{ include('footer.html') }}