{{include('admin/header.html')}}
<div class="row my-2 mx-2 justify-content-md-start">
    <div class="col-md-3">
        <a href="/admin/produtos" class="btn btn-primary"><i class="fas fa-chevron-left mx-4"></i></a>
    </div>
</div>
<div class="card-header"><i class="fas fa-pen mx-2"></i>Cadastrar Produto</div>
<div class="card-body">
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input required type="text" class="form-control" id="nome" name="nome" aria-describedby="ajudaNome" placeholder="Nome">
            <small id="ajudaNome" class="form-text text-muted">Nome do Produto.</small>
        </div>
        <div class="form-group">
            <label for="link_foto">Link da Foto</label>
            <input required type="url" class="form-control" id="link_foto" name="link_foto" aria-describedby="ajudaLinkFoto" placeholder="Link da Foto">
            <small id="ajudaLinkFoto" class="form-text text-muted">Link da Foto do Produto.</small>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="categoria">Categoria</label>
                <select class="form-control" id="categoria" name="categoria" aria-describedby="ajudaCategoria">
                  {% for categoria in categorias %}
                  <option value="{{categoria.id}}">{{categoria.nome|title}}</option>
                  {% else %}
                  <option value="">Não foram achadas categorias</option>
                  {% endfor %}
                </select>
                <small id="ajudaCategoria" class="form-text text-muted">Categoria do Produto.</small>
            </div>
            <div class="form-group col-md-6">
                <label for="categoria">Formato</label>
                <select class="form-control" id="formato" name="formato" aria-describedby="ajudaFormato">
                  {% for formato in formatos %}
                  <option value="{{formato.id}}">{{formato.descricao}}</option>
                  {% else %}
                  <option value="">Não foram achados formatos</option>
                  {% endfor %}
                </select>
                <small id="ajudaFormato" class="form-text text-muted">Formato do Produto. Utilizado para calculo de frete.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="5" aria-describedby="ajudaDescricao"></textarea>
            <small id="ajudaDescricao" class="form-text text-muted">Descrição do Produto. Coloque todas as informações relevantes aqui.</small>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="preco">Preço</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                    </div>
                    <input required type="number" name="preco" id="preco" class="form-control" min=1 value=0>
                    <div class="input-group-append">
                        <span class="input-group-text">,00</span>
                    </div>
                </div>
                <small for="preco" class="form-text text-muted">Preço do Produto.</small>
            </div>
            <div class="form-group col-md-6">
                <label for="estoque">Estoque</label>
                <input required type="number" name="estoque" id="estoque" class="form-control" min=0 value=0>
                <small for="estoque" class="form-text text-muted">Unidades em Estoque. Padrão = 0</small>
            </div>
        </div>
        <div class="row my-1">
            <div class="alert alert-info col-lg-12" role="alert">
                Favor prestar atenção nas observações nos campos abaixo
            </div>
            <div class="col-md-2">
                <label for="peso">Peso</label>
                <div class="form-group">
                    <div class="input-group">
                        <input required type="number" step="0.001" name="peso" id="peso" value=0 class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">kg</span>
                        </div>
                    </div>
                    <small for="peso" class="form-text text-muted">Peso do Produto. Máximo de 1kg para envelopes.</small>
                </div>
            </div>
            <div class="col-md-2">
                <label for="altura">Altura</label>
                <div class="form-group">
                    <div class="input-group">
                        <input required type="number" step="0.01" name="altura" id="altura" value=0 class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">cm</span>
                        </div>
                    </div>
                    <small for="altura" class="form-text text-muted">Altura do Produto. Máximo de 0cm para envelopes.</small>
                </div>
            </div>
            <div class="col-md-2">
                <label for="largura">Largura</label>
                <div class="form-group">
                    <div class="input-group">
                        <input required type="number" step="0.01" name="largura" id="largura" value=0 class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">cm</span>
                        </div>
                    </div>
                    <small for="largura" class="form-text text-muted">Largura do Produto.</small>
                </div>
            </div>
            <div class="col-md-2">
                <label for="comprimento">Comprimento</label>
                <div class="form-group">
                    <div class="input-group">
                        <input required type="number" step="0.01" name="comprimento" id="comprimento" value=0 class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">cm</span>
                        </div>
                    </div>
                    <small for="comprimento" class="form-text text-muted">Comprimento do Produto.</small>
                </div>
            </div>
            <div class="col-md-2">
                <label for="diametro">Diâmetro</label>
                <div class="form-group">
                    <div class="input-group">
                        <input required type="number" step="0.01" name="diametro" id="diametro" value=0 class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">cm</span>
                        </div>
                    </div>
                    <small for="diametro" class="form-text text-muted">Diâmetro do Produto. 0cm se a embalagem não for Rolo/Prisma.</small>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-pen mx-4"></i></button>
    </form>
</div>
{{include('admin/footer.html')}}